.termos-main{
  display: flex;
  flex-direction: column;
  margin: 81px auto 0 auto;
  width: 80vw;
}

.termos-botao {
  background-color: #5b352c;
  width: 80vw;
  height: 39px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #d8a35d;
  display: flex;
  align-items: center;
  margin: 50px auto;
}

.termos-botao:hover {
  cursor: pointer;
}

@media (min-width: 490px) {
  .termos-botao {
    width: 390px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}