.mainProductsContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.productsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 81px;
}

.productsTab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #5b352c;
  border-radius: 1px 1px 0px 0px;

  width: 90vw;
  height: 44px;
  margin-bottom: 21px;
}

.productsTab > button {
  width: 100%;
  height: 100%;
  background: none;
  color: #5b352c;
  font-size: 15px;
  font-family: Source Sans Pro;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.productsTab > button:hover {
  font-weight: 600;
  border-bottom: 2px solid #5b352c;
}

.productsTab > button.active {
  border-bottom: 2px solid #5b352c;
  border-radius: 1px 1px 0px 0px;
}

.productsBrigadeiroSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productsCardContainer {
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(1, minmax(280px, 1fr));
  min-height: 100vh;
}

.productsCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 100%;
  min-height: 33rem;
  background-color: #fff;
  padding: 20px 20px 0 20px;
  margin-bottom: 35px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.productsCard img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin-bottom: 18px;
}

.productsBrigadeiroSection p {
  padding: 0;
  text-align: center;
}

.productsCardDescription {
  margin: 0px 0px 18px 0px;
}

.productsCardParcels {
  margin: 0px 0px 13px 0px;
  font-size: 1.2rem;
  font-weight: 600;
}

.productsCardPrice {
  margin: 0px 0px 18px 0px;
  font-size: 1.2rem;
  font-weight: bold;
}

@media (min-width: 789px) {
  .productsCardContainer {
    grid-template-columns: repeat(2, minmax(280px, 1fr));
  }
}

@media (min-width: 1207px) {
  .productsCardContainer {
    grid-template-columns: repeat(3, minmax(280px, 1fr));
  }
}

@media (min-width: 1495px) {
  .productsCardContainer {
    height: 100%;
    width: 100%;

    grid-template-columns: auto minmax(280px, 1fr) 1fr 1fr;
  }
}
